@model ServerWeb.Data.Model.Car

@*Блок занимает 4 колонки (всего колонок в Bootstrap 12)*@
<div class="col-lg-4">
@*(img-thumbnail -- класс Bootstrap)*@
    <img class="img-thumbnail" src="@Model.img" alt="@Model.name" />
    <h2>@Model.name</h2>
    <p>@Model.shortDesc</p>
    <p>Цена: @Model.price.ToString("c")</p>

    <p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="addToCart" asp-route-id="@Model.id">Добавить в корзину</a></p>
</div>